#####################################
####  ALXJRVS Git Configuration  ####
####       Version 2.0.0         ####
####        "Gilotina"           ####
#####################################

#### CHANGELOG
  ## 4.20.2014 2.0.0 There Came a Time When The Old Gods Died.

## Ignore everything by default
*

## Vim configs
!.vimrc

## Git configs
!.gitignore_global
!.gitconfig
!.gitignore

## Zshrc configs
!.zsh/_git
!.zprezto/
!.zprezto/runcoms/
!.zprezto/runcoms/*

#Rspec config
!.rspec

#Iterm Prefs
!.iterm/
!.iterm/*

## Tmux
!.tmux.conf
!.tmuxinator/
!.tmuxinator/*

## Tips sheet
!.tip_sheet
*.dump

