#####################################
####  ALXJRVS Git Configuration  ####
####       Version 2.0.1         ####
####        "Bernadeth"         ####
#####################################

#### CHANGELOG
  ## 4.20.2014 2.0.0 There Came a Time When The Old Gods Died.
  ## 1.19.2015 2.0.1 THEN - THERE WAS NEW LIGHT!
    # - vim -> neovim

## Ignore everything by default
*

## NeoVim configs
!.nvimrc

## Git configs
!.gitignore_global
!.gitconfig
!.gitignore

## Zshrc configs
!.zsh/_git
!.zprezto/
!.zprezto/runcoms/
!.zprezto/runcoms/*

#Rspec config
!.rspec

#Iterm Prefs
!.iterm/
!.iterm/*

## Tmux
!.tmux.conf
!.tmuxinator/
!.tmuxinator/*

## Tips sheet
!.tip_sheet
*.dump

