#####################################
####  ALXJRVS Git Configuration  ####
####       Version 2.0.0         ####
####     "Granny Goodness"       ####
#####################################

#### CHANGELOG
  ## 4.20.2014 2.0.0 There Came a Time When The Old Gods Died.

[user]
	name = Alex Jarvis
	email = alxjrvs@gmail.com
[core]
	excludesfile = /Users/alxjrvs/.gitignore_global
	editor = vim
[push]
	default = simple
[rerere]
	enabled = true
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[credential]
	helper = osxkeychain
