#Ignore everything by default
*

#Vim configs
!.vimrc

#Git configs
!.gitignore_global
!.gitconfig
!.gitignore

#Zshrc configs
!.zprezto/
!.zprezto/runcoms/
!.zprezto/runcoms/*

#Tmux
!.tmux.conf

#Tmuxinator
!.tmuxinator/
!.tmuxinator/*

*.dump
