"*":
  "exception-reporting":
    userId: "471c5263-8c1a-65d6-6c7f-74963a4d3b29"
  welcome:
    showOnStartup: false
  core:
    themes: [
      "solarized-light-ui"
      "solarized-light-syntax"
    ]
    audioBeep: false
    disabledPackages: [
      "vim-mode"
    ]
  editor:
    invisibles:
      {}
    fontSize: 13
  "vim-mode":
    useClipboardAsDefaultRegister: true
  "ruby-test":
    shell: "zsh"
